:root {
    --background: #00030C;
    --botao: #167BF7;
    --texto-destaque: #FFFFFF;
    --texto-comum: #C0C0C0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--texto-destaque);
}

.principal {
    background-image: url(/img/Background.png); /* seta a imagem de background */
    background-repeat: no-repeat; /* background nao ira repetir */
    background-size: contain; /* o tamanho do background sera de todo o container da tela */
}

.container {
    height: 100vh; /* tamanho de 100% da tela */
}